<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
       <h1>hello index</h1>


        <!-- <h1>create chat room</h1>
        <input type="text" cols="200" id="create_room_input"/><br><br><br>
        <input type="button" value="create room" id="create_room_button">
        <script>
           
           const button=document.getElementById('create_room_button')
           button.onclick=()=>{
            var roomName=document.getElementById('create_room_input').value
            window.location.pathname='/chat/'+roomName+'/'
           }
           
        </script> -->
    </body>
</html>